<html>
<head>
<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
</head>

<html>

    
    <h1>Hello</h1>


    <h1 id='ip'></h1>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>

    const socket = io();

    socket.on('ip', function(ip){
        document.getElementById('ip').innerHTML = ip;
       console.log(ip)
    });

    socket.on('redi', function(url){

       console.log(url)
    });

    
</script>