<html>
<head>
<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
</head>

<html>

    
    <h1>Hello</h1>


    <h1 id='ip'></h1>
    <h1>Sinon vous pouvez scanner ce QRCode</h1>
    <img id="qrcode" />

</html>

<script src="/socket.io/socket.io.js"></script>
<script>

    const socket = io();

    socket.on('ip', function(ip){
        document.getElementById('ip').innerHTML = "Bonjour, rendez vous sur cette URL : " + "http://"+ip+"/loginBoardy";
        
       console.log(ip)
    });

    socket.on('qrcode', function(qrcode){
        document.getElementById('qrcode').src = qrcode;
    });

    socket.on('redi', function(url){

        window.location.replace(url);
    });

    
</script>