<html>

<html>

    <h1>Hello, ici Boardy</h1>

    <h2>Pour pouvoir afficher ton dashboard, j'ai besoin de me conneter à ton wifi et à ton compte Boardy</h2>
    <h2>Je vais te détailler rapidement les étapes à suivre : </h2>
    </br>
    </br>
    <h2>    - A partir de ton téléphone ou de ton ordinateur portable connecte toi au wifi Boardy</h2>
    <h2>    - Tu peux alors ouvrir une page web et entrer dans l'url 10.0.0.1 ou boardy.local</h2>
    <h2>    - Choisis ton wifi et entre le mot de passe afin de me permettre de me connecter à ton wifi</h2>
    <h2>    - Une nouvelle page s'affichera, elle va permettre la connexion avec la plateforme Boardy en ligne</h2>
    <h2>    - Entre ton email et mot de passe et finalement ton Dashboard devrait s'afficher</h2>
    <h2>    - En cas de soucis n'hésite pas à nous en faire part !!</h2>
    <h2>Merci</h2>


</html>